### JetBrains ###
.idea

### VisualStudioCode ###
.vscode

### macOS ###
.DS_Store

### Windows ###
Thumbs.db

### Node ###
node_modules
npm-debug.log
*.log

### Docker ###
Dockerfile
.dockerignore

### Git ###
.git
.gitignore

# Others
*.md
