@use 'tailwindcss';

@plugin 'daisyui' {
  themes: all;
}

/* Highlight.js */
@import url(highlight.js.scss);

.lucide {
  stroke-width: 1.5px;
}

html {
  scrollbar-gutter: auto;
}

.markdown {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  ul,
  ol,
  li {
    all: revert;
  }
  ul,
  ol {
    @apply ps-5;
  }
  pre {
    @apply whitespace-pre-wrap rounded-lg p-2 mb-3;
    border: 1px solid currentColor;
  }
  p {
    @apply mb-2;
  }
  hr {
    @apply my-4 border-base-content/20 border-1;
  }
  table {
    @apply w-full border-collapse text-sm font-sans my-4 text-base-content;
  }
  thead {
    @apply bg-base-200 text-base-content;
  }
  th {
    @apply border border-base-300 px-4 py-2 text-left font-semibold;
  }
  td {
    @apply border border-base-300 px-4 py-2 align-top;
  }
  tbody tr:nth-child(even) {
    @apply bg-base-100;
  }
  tbody tr:hover {
    @apply bg-base-200;
  }
}

.chat-screen {
  max-width: 900px;
}

.chat-bubble {
  @apply break-words max-sm:px-2;
}

.markdown pre {
  @apply border-0 overflow-x-auto;
}

.katex-display {
  margin: 0 0 !important;
}
